
<div class="col-3">
    <table class="table">
      <tr>
        <td><%=link_to "Inbox", messages_path  %></td>
        
      </tr>

      <tr><td><%=link_to "Sent Item", sent_messages_path  %></td></tr>

      
    </table>
</div>



