
<div class="col-3">
    <table class="table">
      <tr>
        <td><%=link_to "Inbox (#{@messages.unread.size})" , received_messages_path  %></td>
      </tr>

      <tr><td><%=link_to "Sent Item", sent_messages_path  %></td></tr>

      <tr><td><%= link_to 'Create Message', new_message_path , class: 'btn btn-primary'%></td></tr>

      
    </table>
</div>



