<h1>Sessions#new</h1>

<%= form_tag sessions_path do %>
	<%= text_field_tag :email, params[:email], class: 'form-control', place_holder: 'Email' %>
	<p></p>
	<%= password_field_tag :password, nil , class: 'form-control', place_holder: 'Enter your password' %>
	<br>
	<%= submit_tag "Sign In", class: 'btn btn-primary' %>
<%end%>
