<h1>Home#welcome</h1>
<p>Find me in app/views/home/welcome.html.erb</p>

<%= link_to "Sign_Up", new_user_path, class: 'btn btn-primary' %>
<%= link_to "Sign In", new_session_path, class: 'btn btn-primary' %>